# Docker
.env
plushnail.env
vhosts/
mariadb-data/
dbgate-data/
caddy-data/
caddy-config/

# OS
.DS_Store
Thumbs.db

# Certificates
*.crt
*.key
*.pem

# PHP
vendor/
composer.lock
.phpunit.result.cache

# Node
node_modules/
npm-debug.log
